doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{title} - Environ SaveData Browser
    link(rel='icon', type='image/x-icon', href='images/favicon.ico')
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.5.0/pure-min.css')
    link(rel='stylesheet', href='/stylesheets/side-menu.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    #layout
    //
         Menu toggle 
      a#menuLink.menu-link(href='#menu')
        span
      #menu
        .pure-menu.pure-menu-open
          a.pure-menu-heading(href='/') Environ
          ul
            li
              a(href='/') Home
            li
              a(href='/savedata') Save Data
      #main
        block content
  script(src='/javascript/ui.js')
